.logement {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap:20px;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}


.logement__intro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #ff6060;
    font-family: Montserrat;
    font-weight: 500;

    h1 {
        margin: 0;
        font-size: 32px;
    }
    span {
        font-size: 17px;
    }
}

.host {
    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    &__name {
        color: #ff6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        width: 120px;
        margin: auto;
    }

    &__portrait {
        background-color: $color-background;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: contain;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: $color-white;
    flex-wrap: wrap;

    .tag {
        height: fit-content;
        width: fit-content;
        background-color: $color-orange;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 12px;
        margin:6px;
    }
}

.logement__dropdown {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    .menu__box {
        width: 45%;
    }

    .menu__txt {
        ul {
            margin: 0;
            padding: 0;
        }
    }
}

.rating{
    display: flex;
    justify-content: space-between;
}