$color-purple: #9356dc;
$color-pink: #ff79da;
$color-lightgreen: #99e2d0;
$color-darkblue: #003a68;
$color-lightblue: #89c8fa;
$color-bg-darkgrey: #353535;
$color-icon: #7e7e7e;
$color-black: #000;
$color-bg-location: #eaeaea;
$color-bg: #f6f6f6;
$color-button-gradient: linear-gradient(-4deg, #9356dc 0%, #ff79da 100%);
$color-white: #fff;
$color-green-font: #008766;
