@font-face {
    font-family: "Montserrat";
    src: url(../src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
  }
  
  $font-1: "Montesserat", sans-sherif;
  
  $color-black: #000;
  $color-white: #fff;
  $color-orange: #ff6060;
  $color-background: #f6f6f6;