.thumb {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(12, 12, 12, 0.616) 0%, rgb(255, 142, 142) 100%);
    overflow: hidden;
    object-fit: fill;
    position: relative;

    img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        position: relative;
    }
    h3 {
        margin: 20px;
        color: #fff;

        font-family: Montserrat;
        font-size: 17px;
        font-weight: 500;
        position: absolute;
        top: 78%;
        z-index: 2;
    }
}
