.navigation {
  ul {
    display: flex;
    gap: 60px;
    a {
      text-decoration: none;
      color: $color-orange;
      text-align: right;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;

      li {
        color: $color-orange;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: $color-orange;
        }
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 0;
        background: $color-orange;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
